RUSTFS_ACCESS_KEY=rustfsuser
RUSTFS_SECRET_KEY=rustfspass
AWS_REGION=eu-west-3
POLARIS_ADMIN_CLIENT_ID=root
POLARIS_ADMIN_CREDENTIALS=polarispass
BUCKET_NAME=transition-energetique-regionale
CATALOG_NAME=ter_catalog
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespass
POSTGRES_POLARIS_DB=polaris
